{{ ansible_managed | comment('c') }}

prometheus.scrape "cfx-server" {
    targets = [{"__address__" = "localhost:30120", "job" = "cfx"}]
    metrics_path = "/perf"

    scrape_interval = "15s"

    forward_to = [prometheus.remote_write.default.receiver]
}
