{{ ansible_managed | comment }}

TXHOST_DATA_PATH={{ cfx_server_data_dir }}
TXHOST_QUIET_MODE=true

TXHOST_TXA_URL=https://{{ cfx_server_txadmin_endpoint }}/

TXHOST_PROVIDER_NAME={{ cfx_server_provider_name }}
{% if cfx_server_provider_logo is defined %}
TXHOST_PROVIDER_LOGO={{ cfx_server_provider_logo }}
{% endif %}

TXHOST_DEFAULT_DBHOST={{ cfx_server_db_host }}
TXHOST_DEFAULT_DBPORT={{ cfx_server_db_port }}
TXHOST_DEFAULT_DBUSER={{ cfx_server_db_user }}
TXHOST_DEFAULT_DBPASS={{ cfx_server_db_pass }}
TXHOST_DEFAULT_DBNAME={{ cfx_server_db_name }}

{% if cfx_server_account is defined %}
TXHOST_DEFAULT_ACCOUNT={{ cfx_server_account }}
{% endif %}
