[Unit]
Description=Mailpit server
Before=postfix.service

[Service]
Type=exec
User={{ mailpit_user }}
Group={{ mailpit_group }}
ExecStart=/usr/local/bin/mailpit -d {{ mailpit_home }}/mailpit.db

Restart=always
RestartSec=10

#SyslogIdentifier=mailpit

[Install]
WantedBy=multi-user.target
