{{ ansible_managed | comment }}

map $http_upgrade $connection_upgrade {
	default upgrade;
	'' close;
}

upstream grafana {
	server [::1]:{{ nginx_proxy_grafana_port }};
}

server {
	listen [::]:443 ssl;
	listen [::]:443 quic;

	http2 on;
	http3 on;

	server_name {{ nginx_proxy_grafana_fqdn }};

	include /etc/nginx/snippets/tls-params.conf;

	location / {
		proxy_pass http://grafana;
		proxy_http_version 1.1; # before version 1.29.7
		proxy_set_header Connection ""; # before version 1.29.7

		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;

		# Advertise the availability of HTTP/3
		add_header Alt-Svc 'h3=":443"; ma=86400';

		# HSTS
		add_header Strict-Transport-Security "max-age=63072000; includeSubDomains" always;
	}

	# Proxy Grafana Live WebSocket connections.
	location /api/live/ {
		proxy_pass http://grafana;
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection $connection_upgrade;

		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
	}
}
