[submodule "roles/networkd"]
	path = roles/networkd
	url = https://github.com/lpoidevin/ansible-role-networkd.git
[submodule "roles/sshd"]
	path = roles/sshd
	url = https://github.com/lpoidevin/ansible-role-sshd.git
[submodule "roles/sssd"]
	path = roles/sssd
	url = https://github.com/lpoidevin/ansible-role-sssd.git
[submodule "roles/lego"]
	path = roles/lego
	url = https://github.com/lpoidevin/ansible-role-lego.git
[submodule "roles/nftables"]
	path = roles/nftables
	url = https://github.com/lpoidevin/ansible-role-nftables.git
