{{ ansible_managed | comment('c') }}

logging {
  level = "warn"
}

loki.write "default" {
    endpoint {
        url = "http://{{ alloy_loki_endpoint }}:3100/loki/api/v1/push"
    }
}

prometheus.remote_write "default" {
    endpoint {
        url = "http://{{ alloy_prometheus_endpoint }}:9090/api/v1/write"
    }
}
