{{ ansible_managed | comment('c') }}

{% if alloy_enable_node_exporter %}
prometheus.exporter.unix "node" {
  include_exporter_metrics = true
  disable_collectors       = {{ alloy_node_exporter_disable_collectors | to_json }}
  enable_collectors        = {{ alloy_node_exporter_enable_collectors | to_json }}
}

prometheus.scrape "node" {
//  targets = array.concat(
//    prometheus.exporter.unix.node.targets,
//    [{
//      __address__ = "{{ alloy_listen_address }}",
//      job         = "alloy",
//    }],
//  )
  targets = prometheus.exporter.unix.node.targets
  scrape_interval = "{{ alloy_node_exporter_scrape_interval }}"
  forward_to      = [prometheus.remote_write.default.receiver]
}

loki.relabel "journal" {
  forward_to = []
  rule {
    source_labels = ["__journal__systemd_unit"]
    target_label  = "unit"
  }
  rule {
    source_labels = ["__journal__boot_id"]
    target_label  = "boot_id"
  }
  rule {
    source_labels = ["__journal__transport"]
    target_label  = "transport"
  }
  rule {
    source_labels = ["__journal_priority_keyword"]
    target_label  = "level"
  }
  rule {
    source_labels = ["__journal__hostname"]
    target_label  = "instance"
  }
}

loki.source.journal "read" {
  forward_to    = [loki.write.default.receiver]
  relabel_rules = loki.relabel.journal.rules
  labels        = { "job" = "integrations/node_exporter" }
}
{% endif %}

{% if alloy_enable_hardware_exporter %}
prometheus.scrape "hardware" {
  scrape_interval = "15s"
  forward_to      = [prometheus.remote_write.default.receiver]
  targets = [
{% for hw in alloy_hardware_targets %}
    {
      "__address__" = "{{ hw.address }}",
      "job"         = "{{ hw.job }}",
    },
{% endfor %}
  ]
}
{% endif %}
