{{ ansible_managed | comment }}

[Definition]
failregex =
    ^<HOST> -.*"GET .*/0es4x.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/0ku3az.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/0ttn61.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/0yea.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/11iq3m4300.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/11ka6h997.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/15jl502.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/1j8112u44.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/1mkwjxt.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/1n69iq5.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/1oqt3ui432.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/1r2ia4tpf950.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/22l1.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/28gh4xe.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/2gwzip.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/2hbur.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/2lx8v6.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/31zy429.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/3dx7tl.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/3h7htjql.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/3jm4tykus.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/3n2d4f6ya.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/3u7nglw2.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/3ua24xng.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/3zeiiu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/494ca043c.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/4gag9qw458.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/4kel5rvnx.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/4s9yw1uw.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/4uh62v.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/4xofe761.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/4xwlw2.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/50mv.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/51zl.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/53nfydr9964.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/5aw4rf.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/5il64si535.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/5tk8s.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/5zhlk.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/60a6jqp2.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/6576.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/65ll47gv.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/6jhnwbhn.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/6qotzifco.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/6tewb47m.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/6z23.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/71lo1.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/72tcciu845.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/77dzpbv.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/799bsf323.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/79zwtq.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/7b9uv752.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/7d0hq.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/7n8i7.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/7ohm.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/7syvkyzsq.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/7tzppse.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/7uimp9.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/8c44.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/8g4abits.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/8ja0dc6v.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/8ncc4d36s.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/8s6e3m5jq.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/8xknxf32.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/9g62.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/9l9wugqyi9.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/9ooxc.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/9s182bq9.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/a2hg895.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/aat_igwrb_os249.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/adhjqbmv.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/af2s28kiv.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/agi_erg_vagw361.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/anbigm.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ansk_cpmi.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ao3ia6fy.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/apjagn.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/apq.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/aqxkh.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/arqep.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ast_tzw237.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/awx.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/azfovt20i.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/azyj_xy268.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/b8dpz30ae.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/babbd.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/baxumusa127.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bayase596.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bb_qfkcs423.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bbvbkyah.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bcsfdv.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bd1y377us.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/beme868.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/beyiye.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/beyu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bhwmk.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bifbjwv.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bihskjaiq.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bikatake.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bipzsus.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bitife164.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/biyazo.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bjx_azn_cxgb.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bka.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bkcdh.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bkgh_jxv.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bknpg.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/blujxq6l9612.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bmquuhp.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bmzcdms.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bndhdrrtm.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bohasefe.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bolima.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bonumeca.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/boviceza984.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bowi868.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bpaf.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bpl34.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bplco_qctu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bqsw844.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bqwf38.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/brauv_otd_fsbm171.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/brbz.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/brveu79v305.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/btnzzc127.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bu92e.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bulhx.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bumezacu624.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bwg5xs123.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/bwkpzledsx.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/byca45.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/c7b4l.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cafade.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cawo.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cazo.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cb_otutt_mnrq430.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cbjhu7.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cceqvtely.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cckm1aub.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ce_bk.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cecace.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cerudibo682.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cevese732.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cevu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cgekzz3x.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ch_zxkw_msa107.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/chl.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ciwinufe.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ciyenu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cj_eo704.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cmdpj491.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cn999.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cnrb_vpqev547.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cnufy.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cnxcj.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cohe.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/coxu935.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/crmcv_nom_cfri.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/crp_cto_swwup.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/csjyj453.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cstjs375.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cuevms937.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cuzbs_if_xxmyz351.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cuzukusi396.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cwiz.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cy_syjqs722.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/cybyoc629.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/czja_bym_jufpx405.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/d7sf6t40y10.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/d8ysewqnu488.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/datuvene.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/daxepe.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/db2gqx6.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dbh_kgzu_ypokl903.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dbyi_ig_qdb.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dcc_hsmr_cxdhp.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/denevi.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dghkpdoz.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dgzoj_giux287.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dijowz.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dinovu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/divezu26.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/djhjj.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dk0nji.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dlsxer.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dm11xbs.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dodx869.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dolo.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dqq_re74.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dqt_nq_vtrl.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/drwi.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dswuatbu422.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dtcdsx.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ducejo.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dutgxm.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/duznp.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/duznyj829.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dvcn.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dvvp_hab.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dxvzn_nstce_uis.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dyw771.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dzdzh.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/dzjfk886.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/e3hkuon9m.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/e52m9b357.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/e8n6.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/eaf.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ecml923.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/eemrx676.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ehkpj.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ehl_wtylp982.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/eivvcsaxa585.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ekb_aplmt.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/eku640.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/el.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/embz_gsh438.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/emhfs_xsgwf_autqo.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/emqgnwd542.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/emspcjfs.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/enujnycedu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/eoep.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/eoyvd8t7616.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/epfkmpelhs.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/es9g.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/esrwpj.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/etc9s.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/etoqj.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/eu_wj780.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/eual.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/eud8hg7c.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ewiwseu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/eytb.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/eywz242.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/eznza.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ezzn_asbmw_zirlu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/f1sls9.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/f6836ns.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fafeponu403.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/faz162.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fb_oc52.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fbka_bprm_gaqky673.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fbm.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fd.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fdgs.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fdj.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fdmgzdlf.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fdwnw.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/femi924.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fevazi869.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ffuv_blie_xmydg.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fifm.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fihicapu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fkoxh.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fle_nw_gcmz.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fmb.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fnbawqi.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/foaxo.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/foba.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fobuma.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fove785.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fovosaxa89.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fowa.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/frwsrxcoe.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ftxf437.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fudaduyi.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/funose.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fupezene.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fupwq_tu_kf.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/furocumi.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fuxeho.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fuya.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fv_ylcj478.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fvngstm672.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fwilrys935.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fxqrc_olga_sd.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fyxn475.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/fzqdhku.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/g2ggfs79y.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/g7c3t14325.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/g8ih.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/g8v2.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gahejowi.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gajb173.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gama548.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gani240.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/garjaiiro.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gasopa.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gave.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gcgegqiwha.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gcxemi.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/genuqu93.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gesoxiku.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gextx54.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ggcovwz328.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gge0s.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ghbwg.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gicufixi.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gigajo.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gim7623.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gixl191.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gnorkaqs.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gocucesa.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/goga.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gosd_lacb_rp.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gp.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gqdw.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gtmrp.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gucefe.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gugu204.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gutoboze.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/gvbxjf775.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/h4xw2tdm8888.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/h8c1nq2860.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/hapu571.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/harh_szkbt78.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/hegapaku.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/heo.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/hete.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/hexeva.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/hgn627.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/hgt0j88.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/hi_rb_dmum169.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/hijuse.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/hiyuxe.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/hjd.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/hjdje_src.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/hjs.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/hmx.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/hngrpfs.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ho_sss_ufcka.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/hopo.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/hoqfzrgap70.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/horiya.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/hprr726.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/hstmy_uk_rem.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/hulirate44.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/huqofeje534.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/huwisa.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/huzxlu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/hz_tycw.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/i7f9kd.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/i9ekyv393.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/iaktoxi.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ick.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/idsjs3m.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ie_ojm.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/iea_mn_xzwk.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/iejs329.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ieuizul9.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ifd_kp_ykj.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ijzat884.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ik_xouv_qg.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ikd_swc981.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ikoba_axdsv_mtvvy972.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ilgt_nlu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/inbo_gnc_tujc901.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/iqkvusmpp209.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/iqrsd.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/irkm_dq.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/islr_vrj_br.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/isre.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/itlujw.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/iu_nu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/j6xob61.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/j88hk60.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ja5d.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jabe.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/japop110.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jeczw4ret.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jegacitu402.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jeju.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jero.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jezogisu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jhly.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jika64.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jix_gt_bsq.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jkbfn_qj.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jkgontzofb.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jkq.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jljugpsua794.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jntyistmv708.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jnua3uym.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jo7l67.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/josuxuvu887.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/joxaqazo.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jrr_rakod_gg.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/juje.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/julxqk.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/junesazi.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/juqogoxo.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jurotege638.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jusocu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jvlrx_rd417.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jvnzwynfa.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jw94tv.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/jx_tj_dztcb.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kane.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/karocalu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/katq.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kaxu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kayiqu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kblrefgu36.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kcbbpahul.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kcsz.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kczebcrit98.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kd.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kdbkpftdt.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kekudi.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/keqgapdpy.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ketuwi.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kftyatd253.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kfz_zqwxz.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/khs284.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/khz_tiuni_gr476.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kipuguri448.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kiqejuru.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kisiya270.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kiwu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kkdaxjagt.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/knaf272.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/koctu873.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kodivo511.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/koh.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kpdr.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kpp6ok5.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kqmpj_imuj.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kqn.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kqri563.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ksd_cp.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kuba.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kummv89.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kuxepu419.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kwrcq_feev.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/kyqqhj.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/laoswhrnth.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/lbl982.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/lcb5j116.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/leni720.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/leqvlq508.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/lfik708.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/lgjqjjggj68.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/lgmo6ut.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/liderubo.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/lisu623.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/liya715.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ljes100.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ljww1k.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/lkcu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/lkskdgqgo905.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/loracevi.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/loricelo200.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/lorududu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/lpbyw_mzmz_hiedh369.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/lpc.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/lpq_wnr552.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/lqnfmjg.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/lsnxiucho620.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ltabricn.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ltetboksxm62.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ltwlo55.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/luge.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/lumapono.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/luva.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/luzbzp.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/lvcc_km_gk157.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/lvg_zblg214.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/lyhv.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/lyvsybp.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/lzvkugbwk231.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/lzyv_jygz_fqlbd.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/m3tyixp.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/magunayu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/marinotu740.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mati.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mavayeju.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mb_zdsv_suc.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mdj526.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mdk01ql.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mdy_le_ckdl253.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mebacato.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/memulavu515.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mgig.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/migita.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mjc2cx.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ml1fbs.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mmaau.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mmenfyh.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mnpxgns.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/moba.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mojajewu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mojojozo785.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/moki703.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/moqege356.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mozi.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mpkcdpdv.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mptriqast.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mpw_cxlq.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mq_hlrts989.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mu.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mudiqi.yft.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mukifalo21.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/muso96.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/muzofiqa.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/myatpobf163.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mzeu.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/mzyoynxxa.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/n14c1qsj8.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/n1it808dc.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/n2n3hjcnl.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/naduyovo771.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/nafimija510.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ncnl_itw.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/nde_ygkmv_sjkwa230.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ndpq_cdx.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ndrdgo.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ndxiztpulf.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ne0ei.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/nenaqi.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/nik_xmj.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/nini553.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/niruye.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/njl.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/nlazhew943.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/nmhlbu.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/nnfq_ek_kaxbb.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/no.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/nolaqihe.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/nomabe.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/nq_dpqdw.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/nrr.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/nsdy.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/nsezereviu.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/nt_sf.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/nubuqa832.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/nucuxo.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/nuzu637.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/nxe.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/nypsp.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/o1j6dnvx.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/oc0j2.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/odifjeue.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/odnbf_uetje_eig.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/of05k949.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ofn_ajmpm362.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/oiipuwbjz.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/oik_wpex_eh.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/oixse1.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ojj_hjm412.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/okgxz_og579.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/olfadisd.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/omd4.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/on_bf.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ooavu.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ookm_wm.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/oom.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ooo513.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/otjedjtq401.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/otu_pjmxa.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ou_dbu_wyhtl842.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ow9zsw.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/owakngjeg.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ox866.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/oxo.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/oy.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/paco.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/pako.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/pami583.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/panepi.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/peyazume997.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/pezenace.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/pfho_zh_diopl573.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/pftgpseneg.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/pgksrrx427.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/phagr2la274.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/pkqdnk.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/pocecawa.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/pomo.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/popxbaeud.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/pozgf2194.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ppjv.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ppzrd_zw.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/pqxs_ojinm_brnrq.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/prxvvptuho.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/psqaioc386.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/pt.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ptyhinidcp.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/pufara.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/puli.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/pva66.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/pwlpw_aatoz.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/pzvsg_vpb_gaujt.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/q0yw714.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/q1pq.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/q401vemwj790.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qajedo.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qaruludi.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qdde_qmhgx.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qewtg411.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qexuwo.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qh_snfeo_gx321.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qhdzp.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qido.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qikemuki510.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qilosi.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qimj_otphz_puebo.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qiyrw.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qjiys_hp_ue.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qjvgrinv382.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qjy.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ql_pekjz_pz133.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qlheb.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qlkzdayjua384.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qlp_qquyp.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qlpuapc.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qnk_kzt.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qns_oil.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qo_sih_zo.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qofuru819.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qolu.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qp.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qp_znrzv_lieo.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qqfye18dd.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qudeko489.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qulxajshf378.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qup_xrk_xs.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qutifa530.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qvzh7lr.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qw9qz70o.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qwm_pott.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qwqgk_rl.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qxzzkea746.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/qyrtc.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rakteg.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rami.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rayixu896.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rcpxszjfw.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rea_zj.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/redozo171.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rehiji.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rff79739.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rfjod_znxf_toxmb.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rfnnn.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rgdv7gt7.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rh_eypi548.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rhlprzay725.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rhym.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ri_pzyps_etb.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ricbc286.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ridnrkcmq733.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rilu273.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rmwpavgq.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rmy.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rn_vdoxh445.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/robiqiyo.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rosofike.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rowo657.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rph.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rqskk_gwqi451.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rs.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rsih322.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rtekooyk.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rtffiw960.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ruza100.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rvwqhfpdl.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/rybefjm.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/s5w1f4.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/s70rz6d.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/sa_scd_xi.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/sapecebi.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/sapnpxn137.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/sareno.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/saxesu416.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/sayu994.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/sbxp84.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/scnahgyyou111.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/sdc.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/sesehedo768.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/sihz_rwjdy.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/sitbbln.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/siye.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/siyhkkhssl267.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/sjfzuqwog.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/skhm_iwge.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/sln.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/so85dp.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/socozequ.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/sokisu305.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/soxo293.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/soyigubi.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/splhh.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/sq1nq4zp.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/sqf460.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/srn_nf_ktb.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/subacosu.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/supumukr267.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/suxi563.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/sxqg.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/szql_xd_wqnu.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/szw_xh764.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/t2xu5a2qx.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/t5ddwc.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/t8dt4sw4763.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tajoji366.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tatu.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tbs327.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tdeosteyb.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/teho961.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tejape.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tequ.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/teqv904.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tg52923.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/thzsvilmp53.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tizoja.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tjvxmjnv405.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tktionrjv.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tlm466qi2142.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tlnum7724.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tlqmcd746.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tmbzlkmtre.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tmqdlonek.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tnk09t8.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/toduyipu.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/toji.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/towl.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tpfdb.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tqajue112.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tqrsu341.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/trdwzbnk59.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/trmnt.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/trtg_qp172.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tscqtexh.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tuco.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tuga.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tumeho648.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tunayami141.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tv6s749.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tvke662.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/twjtxxgu85.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/twyt7ud997.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ty_tv_nz.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/tzu.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/u73c.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ubm_cnkiy_fcia.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ucbywbz.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ucdi650.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ueexoo.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ufxdy510.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ufz.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ujbb.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ujjgmbn.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ujmua.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/uk446.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ummeld.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/uo_szgpk_tgdi.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/uogtvl.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/uomstp.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/uov6yoh.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/upt3lyb.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/upu_csn951.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ur_rebs.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/urx5.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/usaaeq.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/utd.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/uusmq.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/uwhurpf.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/uwng_qg_va634.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/uxtgy389.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/uy7ktar.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/uygyfotaf457.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/uz3w14i7k.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/uzveyymu.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/v457lm8s.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/v54kll.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vadcw.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vadeju.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vageduha.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vavokowi.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vbbeibscy.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vci_bqg_oo.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vederuwi700.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vedgilfdd814.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vfr_ky445.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vitilago.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vj_ii.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vjp.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vkcg.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vkxyspyfuh.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vky986.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vmu843.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vo_qy_wfs.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vojuto.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vovajowe.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vsju_vpc_xgk.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vukeyo679.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vuqo.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vv4g.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vvdg_ue.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vwhzbz720.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vwm.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vwsc6gur922.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vxsov.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vya.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vya7w0b768.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vyixqrs.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vywdgcus.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vyz9ilz7b355.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vz970.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vzakkiwv185.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/vzhirhrqx.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/w2kzsr517.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/w3v1z8ihw492.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/w5bmd.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/w5unb.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wabp456.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wabpiy.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wafenuyi999.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wali.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/waxecaru650.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wayevoci.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wbmlz_esi599.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wcbofkxn.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wcfcm_btjd_ry.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wcrr.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wdpav.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wehoyu59.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/weq.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wesvk744.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wex887.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wf650.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wfkaotib.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wfvgl.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wg750.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wg_pp_xsxrm.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wgbjz.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wgcj721.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wgiu278.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wgvwn.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/whcw_us_titr.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/whjfl.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wiyude.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wju.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wkdoxw565.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wl.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wm7p.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wmnymymj.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wmvic979.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wnbgzuqc.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/woce415.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wodiw_av_mt.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/woliqali.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/woposagu.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/woziwaqi.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wpfc.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wpgyalb.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wpt_lk.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wpyay_kcp.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wq_gb.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wqvhw_cr_hrim.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wqvi_bv.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wqwpr237.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wrlvcu.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wsql_lext.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wsxg_thvt_dwxh.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wtbbvaqbku.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wudifaka.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wupegiha533.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wuzi354.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wuzupuho708.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wv1hz03.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wvh_zczo_atiz702.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wxf_ypq786.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wzo_zgb.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/wzris_ba_yd829.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/x1ey.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/x4t8pmbq963.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/x5zo4n.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xbnfcp488.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xcnzpd19q.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xcukcd878.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xd5s971.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xd_pxkf_nwq292.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xdikmeqmas.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xdwfj_kuvfb_ifu.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xecaxu.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xeguwa.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xene523.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xeqori.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xesevo653.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xeti.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xeyusafa.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xfx.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xg0hx98f.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xhwb868.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xipdcpiv1424.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xixe.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xjqacdmosw830.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xldlrs835.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xmdvmtqee.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xmgbte.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xmxwzva.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xneecdchif.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xngk_nug.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xobusa.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xoka.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xole842.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xolo813.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xoq232.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xosojade.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xpjvuggvj993.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xprip764.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xpu_pk_wjtd.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xpwz.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xqha.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xre6vng.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xrghtv.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xsoke843.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xuho.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xuqe.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xush_bkqpo578.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xvp_mwbn967.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xvxbpe558.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/xwowhgcxk.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/y20j7zx.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/y5hwzpm2n249.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yacrcsqif.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yadati.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yaktc_zvl.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yawinudu.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yawo.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ycstmxgta.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yemb879.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yepu582.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yeqoreso.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yeso.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yewujote.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yezuvomo.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yfqsintwvd.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ygjpvqot.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ygy246208.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ygyjxvd925.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yiduceqe.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yifa.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yive604.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yiwemogo173.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ylf.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yne465.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ynvq.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yobate728.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yogako.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yoramute753.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yoza_vj91.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ypa.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ypkn513.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ypwnmjins603.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yqmr_wd.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ytjxim.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yuhu.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yuppo266.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yusobe.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yzx_bfar_cq.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/yzzmwiz8z530.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/z4fn.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zabuje.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zahuqaze.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zdw1l4s936.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zehisi.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zepozi.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zesijema229.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zeyada.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zeyehuqa.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zfa_kcc.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zgmcl.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zhfj_epg257.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zi.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zida.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zifu21.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ziluya.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zitu520.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zksmbgw.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zlluh_bwyk_ta.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zoeyrsp.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zogfd684.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zpsybv2wc.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zrecf9.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zs_pkiqq437.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zsm.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zssp.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/ztuw.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zucu983.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zuoee.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zup_air_dcbk.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zuulnfhbq.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zvlz.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zvyy.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zwlns644.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zxqo_jg.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zy_fng_ve.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zyfbqvusej823.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zykv57.ytd.* HTTP/.*" .*$
    ^<HOST> -.*"GET .*/zysyx_dwlou.ytd.* HTTP/.*" .*$

    # Match specific fake files anywhere
    #^<HOST> -.*"GET .*/admin_core.* HTTP/.*" .*$
    #^<HOST> -.*"GET .*/esx_bypass.* HTTP/.*" .*$
    #^<HOST> -.*"GET .*/secret_keys\.lua.* HTTP/.*" .*$
    #^<HOST> -.*"GET .*/dummy_db\.sql.* HTTP/.*" .*$
    #^<HOST> -.*"GET .*/fake_token\.js.* HTTP/.*" .*$
    #^<HOST> -.*"GET .*/hidden_config\.json.* HTTP/.*" .*$

    # Match ANY file requested inside these fake directories
    #^<HOST> -.*"GET .*/\[admin_tools\]/.* HTTP/.*" .*$
    #^<HOST> -.*"GET .*/esx_dev_debug/.* HTTP/.*" .*$
    #^<HOST> -.*"GET .*/vMenu_source/.* HTTP/.*" .*$

ignoreregex =
