{{ ansible_managed | comment('c') }}

prometheus.scrape "alertmanager" {
    targets = [
        {
            "__address__" = "localhost:9093",
            "job" = "alertmanager"
        }
    ]
    scrape_interval = "15s"
    forward_to = [prometheus.remote_write.default.receiver]
}
