{{ ansible_managed | comment }}

TXHOST_DATA_PATH={{ fxserver_data_dir }}
TXHOST_QUIET_MODE=true

TXHOST_TXA_URL=https://{{ fxserver_txadmin_endpoint }}/

TXHOST_PROVIDER_NAME={{ fxserver_provider_name }}
{% if fxserver_provider_logo is defined %}
TXHOST_PROVIDER_LOGO={{ fxserver_provider_logo }}
{% endif %}

TXHOST_DEFAULT_DBHOST={{ fxserver_db_host }}
TXHOST_DEFAULT_DBPORT={{ fxserver_db_port }}
TXHOST_DEFAULT_DBUSER={{ fxserver_db_user }}
TXHOST_DEFAULT_DBPASS={{ fxserver_db_pass }}
TXHOST_DEFAULT_DBNAME={{ fxserver_db_name }}

{% if fxserver_account is defined %}
TXHOST_DEFAULT_ACCOUNT={{ fxserver_account }}
{% endif %}
