{{ ansible_managed | comment }}
OVH_ENDPOINT={{ lego_ovh_endpoint }}
OVH_APPLICATION_KEY={{ lego_ovh_app_key }}
OVH_APPLICATION_SECRET={{ lego_ovh_app_secret }}
OVH_CONSUMER_KEY={{ lego_ovh_consumer_key }}
