{{ ansible_managed | comment }}

[mysqld]
# Enable the slow query log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mariadb-slow.log
long_query_time = {{ mariadb_long_query_time }}

# Catch ALL queries missing indexes, regardless of table size
log_queries_not_using_indexes = 1
min_examined_row_limit = 0

# Adds the EXPLAIN output directly to the log file
log_slow_verbosity = query_plan,explain
