{{ ansible_managed | comment }}

table inet filter {
	chain input_wg {
		include "/etc/nftables.d/filter-input-wg/*.nft"
		log prefix "WIREGUARD_IN_DROP: " drop
	}
}

add element inet filter input_iif_map { $wg_nic comment "Traffic from internal vpn network" : jump input_wg }
