[Match]
Name={{ wireguard_int_nic }}

[Network]
Address={{ wireguard_int_address }}/64

[Route]
Destination={{ wireguard_ops_network }}
{% for host in groups['all'] if hostvars[host].wireguard_ops_address is defined %}
Gateway={{ hostvars[host]['wireguard_int_address'] }}
{% endfor %}
