{{ ansible_managed | comment }}
---
global:
  #scrape_interval: 15s # The default is every 1 minute.
  #scrape_timeout: 10s # The default is every 10 seconds.
  #evaluation_interval: 15s # The default is every 1 minute.

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets: ['{{ prometheus_alertmanager_url }}']

# Load local alert rules
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

# Metrics are pushed via Alloy remote_write
scrape_configs: []
