{{ ansible_managed | comment }}
# Set the command-line arguments to pass to the server.
ARGS="--web.listen-address={{ prometheus_listen_address }} {% if prometheus_enable_remote_write %}--web.enable-remote-write-receiver {% endif %}--storage.tsdb.retention.time={{ prometheus_retention_time }} {% if prometheus_retention_size != '0' %}--storage.tsdb.retention.size={{ prometheus_retention_size }}{% endif %}"
